%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%text-box {
  width: 100%;
  height: auto;
  padding: 10px 0;
  font-weight: $font-bold;
  color: $white;
  width: 100%;
  max-height: 70px;
  max-width: 70px;
  min-width: 32px;
  min-height: 32px;
  aspect-ratio: 1;
  user-select: none;
}

%text-animation {
  animation: color 1s ease-in infinite alternate;
}

.header {
  user-select: none;
  @extend %center;
  max-width: 420px;
  margin: 20px auto;
  position: relative;

  &-text {
    font-size: $h2;
    font-weight: $font-bold;
    color: $white;

    &-sm {
      font-size: 30px;
      font-weight: $font-bold;
      color: $white;
      word-break: auto-phrase;
    }
  }

  &-name-wrap {
    @extend %center;
    gap: 10px;
    flex-wrap: wrap;
  }

  &-text-wrap {
    @extend %center;
    flex-direction: column;
    z-index: 1000;
  }

  &-text-point {
    @extend %text-animation;
    font-size: $h2;
    font-weight: $font-bold;
  }
}

.image-cats {
  position: absolute;
  right: 0;
  top: 30px;
}

.main-wrap {
  position: relative;
  z-index: 2000;
}

.name-box {
  @extend %center;
  @extend %text-box;

  font-size: calc(200%);
  background-color: $skyblue;

  &:nth-child(odd) {
    background-color: $green;
  }

  &-wrap {
    @extend %center;
    gap: 2px;
    margin: 0 -16px;
  }
}

.list-wrap {
  margin: 4px -16px 0;
}

.list {
  @extend %center;
  gap: 2px;
  margin-bottom: 4px;

  .count {
    @extend %center;
    @extend %text-box;

    font-size: calc(180%);
    padding-top: 4px;
    background-color: $count-background;
    color: $gray-100;
  }

  &.result {
    .count {
      @extend %text-animation;
    }
  }
}

.button {
  font-weight: $font-semibold;
  font-size: $button-font-size;
  padding: 14px 0;
  border-radius: 12px;

  &-wrap {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &.restart {
    background-color: #24dbff;
  }
}

.error-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@keyframes color {
  0% {
    color: $skyblue;
  }
  10% {
    color: $blue;
  }
  20% {
    color: $green;
  }
  30% {
    color: $yellow;
  }
  40% {
    color: $pink;
  }
  50% {
    color: $red;
  }
  60% {
    color: $skyblue;
  }
  70% {
    color: $blue;
  }
  80% {
    color: $green;
  }
  90% {
    color: $yellow;
  }
  100% {
    color: $pink;
  }
}
