.main {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: $h1;
  line-height: 1.1;
  font-weight: $font-bold;
  color: $white;
  user-select: none;
}

.input-name-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  margin-top: -20px;
}

.desc {
  font-size: 12px;
  color: $gray-200;
  display: block;
  margin-top: 6px;
  margin-bottom: 30px;
  user-select: none;
}

.image-cats {
  margin-top: 30px;
  width: 100%;
  display: block;
}

.button-submit {
  display: flex;
  align-self: flex-end;
  flex-direction: row-reverse;
  padding: 8px 10px 8px 14px;
  gap: 4px;
  font-weight: 600;
  margin-top: -20px;
  margin-bottom: 50px;
}

.copyright {
  display: inline-block;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: $gray-200;
}
