.input {
  font-size: $subtitle;
  color: $dark-black;
  padding: 10px 13px;
  font-weight: 600;
  width: 100%;
  min-height: 52px;
  min-width: 32px;
  border: none;
  outline: none;
  text-align: center;
  background-color: $blue;
  border-radius: 0;

  &.green {
    background-color: $green;
  }

  &.aspect-square {
    aspect-ratio: auto 1 / 1;
  }
}
