.input {
  font-size: $subtitle;
  color: $black;
  padding: 10px 13px;
  font-weight: 600;
  width: 100%;
  min-height: 52px;
  min-width: 32px;
  border: none;
  outline: none;
  background-color: $white;
  border-radius: 0;
  z-index: 100;

  &::placeholder {
    color: $gray-200;
  }
}
