$black: #000000;
$dark-black: #161515;
$white: #ffffff;

$blue: #60d9ff;
$green: #b9ff46;
$deep-green: #aafb27;
$pink: #ff3694;
$gray-100: #cdcdcd;
$gray-200: #373636;

$h1: 40px;
$h3: 36px;
$subtitle: 26px;
$body: 16px;
