@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import './reset';

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next,
html,
body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  box-sizing: border-box;
  background: linear-gradient(180deg, #161aff 0%, #4cf3ff 65%, #ffffff 100%);
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  min-height: 100vh;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  padding: 26px 20px;
  background: linear-gradient(180deg, #161aff 0%, #4cf3ff 65%, #ffffff 100%);
}

.hidden {
  display: none;
}
