@import './reset';

*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next,
html,
body {
  font-family: 'pretend';
  box-sizing: border-box;
  font-weight: 400;
  background-color: $dark-black;
}

.container {
  width: 100%;
  height: 100dvh;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}

.padding {
  padding: 35px 16px 0;
}
